// @import "../../../css/modules/_colors.scss";
// @import "../../../css/modules/_variables.scss";

.logo {
  height: 1.125rem;
  left: 1rem;
  position: absolute;
  width: 1.125rem;
  top: 1.3rem;
}
