<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Extra automates social media marketing by reposting evergreen content on a smart schedule created by engagement analytics.">
    <meta name="turbolinks-root" content="/app">

    <title>Hello Extra!</title>
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">
    <%= render "analytics.html" %>
  </head>

  <body>
    <section class="sidebar">
      <img src="<%= static_url(@conn, "/images/extra-logo.svg") %>" class="extra-logo">
      <nav class="site-nav">
        <%= render "sidebar.html", conn: @conn, current_user: @current_user %>
      </nav>

      <div class="gradient-container"><div class="gradient"></div></div>
    </section>

    <main role="main">
      <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>

      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_url(@conn, "/js/app.js") %>" async data-turbolinks-eval="false"></script>
  </body>
</html>
