<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Extra automates social media marketing by reposting evergreen content on a smart schedule created by engagement analytics.">
    <%= render "favicons.html", conn: @conn %>
    <meta name="turbolinks-root" content="/app">

    <title>Hello Extra!</title>
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">
    <%= render "analytics.html" %>
  </head>

  <body>
    <div id="react-root"></div>

    <script defer src="<%= static_url(@conn, "/js/vendor.js") %>" data-turbolinks-eval="false"></script>
    <script defer src="<%= static_url(@conn, "/js/app.js") %>" data-turbolinks-eval="false"></script>
  </body>
</html>
