<link rel="apple-touch-icon-precomposed" href="<%= static_url(@conn, "/images/siteui/favicon-152.png") %>">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<%= static_url(@conn, "/images/siteui/favicon-144.png") %>">
