<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Extra – Social Media Automation Software That Saves You Time">
  <meta property="og:description" content="Extra automates social media marketing by reposting evergreen content on a smart schedule created by engagement analytics.">
  <meta property="og:image" content="<%= static_url(@conn, "/images/marketing/extra-preview.jpg") %>">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:url" content="<%= page_url(@conn, :pitch) %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Extra Social Media Automation">
  <meta property="fb:app_id" content="200585757014002">
  <meta name="twitter:site" content="@ExtraAI">
  <%= render "favicons.html", conn: @conn %>

  <title>Extra – Social Media Automation Software That Saves You Time</title>
  <link rel="stylesheet" href="<%= static_url(@conn, "/css/marketing.css") %>">
  <%= render "analytics.html" %>
</head>

<body class="<%= body_class_name(@conn) %>">
  <div class="page-wrap">
    <header class="site-header">
      <div class="container">
        <nav>
          <%= link "Login", to: session_path(@conn, :new), class: "button button-style__a" %>
        </nav>
      </div>
    </header>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </div>

  <footer class="site-footer">
    <div class="container">
      <section class="site-footer__copyright">
        © 2017 Extra Automation Inc.
      </section>

      <nav class="site-footer__links">
        <%= link "Contact", to: "#" %>
        <%= link "Privacy Policy", to: "#" %>
      </nav>
    </div>
  </footer>
  <script src="<%= static_url(@conn, "/js/marketing.js") %>" async></script>
</body>
</html>
