<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Extra: What's the real cost of social media management?">
  <meta property="og:description" content="Extra is a social media automation tool that intelligently and automatically reposts your content at the perfect moment each and every day.">
  <meta property="og:image" content="<%= static_url(@conn, "/images/siteui/extra-preview-og.jpg") %>">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:url" content="<%= public_page_url(@conn, :index) %>">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Extra Social Media Automation">
  <meta property="fb:app_id" content="200585757014002">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ExtraAI">
  <meta name="twitter:image" content="<%= static_url(@conn, "/images/siteui/extra-preview-twitter.jpg") %>">
  <meta name="twitter:image:width" content="1024">
  <meta name="twitter:image:height" content="512">
  <%= render "favicons.html", conn: @conn %>

  <title>Extra: What's the real cost of social media management?</title>
  <meta name="description" content="Extra is a social media automation tool that intelligently and automatically reposts your content at the perfect moment each and every day.">
  <link rel="stylesheet" href="<%= static_url(@conn, "/css/marketing.css") %>">
  <%= render "analytics.html" %>
</head>

<body class="<%= body_class_name(@conn) %>">
  <div class="page-wrap">
    <%= if @conn.assigns[:show_login] do %>
      <header class="site-header">
        <div class="container">
          <nav>
            <%= link "Login", to: session_path(@conn, :new), class: "button button-style__a" %>
          </nav>
        </div>
      </header>
    <% end %>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </div>

  <footer class="site-footer">
    <div class="container">
      <section class="site-footer__copyright">
        © 2017 Extra Automation Inc.
      </section>

      <nav class="site-footer__links">
        <%= link "Contact", to: "mailto:hello@extra.ai" %>
        <%#= link "Privacy Policy", to: "#" %>
      </nav>
    </div>
  </footer>
  <script src="<%= static_url(@conn, "/js/marketing.js") %>" async></script>
</body>
</html>
