<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Extra automates social media marketing by reposting evergreen content on a smart schedule created by engagement analytics.">

  <title>Hello Extra!</title>
  <link rel="stylesheet" href="<%= static_url(@conn, "/css/public.css") %>">
  <%= render "analytics.html" %>
</head>

<body class="public-page <%= body_class_name(@conn) %>">
  <header class="site-header">
    <img src="<%= static_url(@conn, "/images/extra-logo.svg") %>" class="extra-logo">
  </header>

  <main role="main">
    <%= render @view_module, @view_template, assigns %>
  </main>
  <script src="<%= static_url(@conn, "/js/public.js") %>" async></script>
</body>
</html>
