.button {
  $button-font-size: 0.875rem;

  appearance: none;
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  color: $action-color;
  cursor: pointer;
  display: inline-block;
  font: bold #{$button-font-size}/#{1.5} $base-font-family;
  padding: 0.5rem 1.25rem 0.625rem;
  text-decoration: none;
  transition: border-color $base-duration $base-timing;
  user-select: none;
  white-space: nowrap;

  + .button {
    margin-left: 0.625rem;
  }

  &:hover,
  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }

  &_small {
    $horizontal-spacing: 0.875rem;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    padding: 0.375rem $horizontal-spacing 0.4375rem;
  }

  &_cancel {
    color: $base-font-color;
    font-weight: normal;
  }

  .icon {
    fill: $action-color;
    max-height: 1.625em;
    max-width: 1.625em;
    vertical-align: bottom;
  }

  &_facebook,
  &_twitter {
    transition: background-color $base-duration $base-timing;
  }

  &_facebook {
    background-color: $facebook-blue;
    border-color: darken($facebook-blue, 5%);
    color: $white;

    &:focus,
    &:hover {
      background-color: lighten($facebook-blue, 4%);
      border-color: darken($facebook-blue, 5%);
    }
  }

  &_twitter {
    background-color: $twitter-blue;
    border-color: darken($twitter-blue, 1%);
    color: $white;

    &:focus,
    &:hover {
      background-color: lighten($twitter-blue, 4%);
      border-color: darken($twitter-blue, 5%);
    }
  }
}
