[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea {
  appearance: none;
  background-color: $base-background-color;
  border: $input-border;
  border-radius: $base-border-radius;
  font-family: $base-font-family;
  font-size: 0.875rem;
  padding: 0.5rem 1rem 0.5625rem;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

label {
  font-weight: bold;
}

.form {
  margin-bottom: 1.5625rem;
  margin-top: 1.5625rem;

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__control-group {
    border-bottom: $light-border;
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  &__control {
    line-height: 1.25rem;
  }

  &__control-label {
    line-height: 1.25rem;
    padding-bottom: 0.625rem;
    padding-top: 0.5625rem;
    width: 6.625rem;
  }
}
