.modal {
  &__overlay {
    background-color: transparentize($black, 0.46);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__container {
    @include clearfix;

    background-color: $white;
    border-radius: $base-border-radius - 1;
    box-shadow: 0 1px 2px 0 $gray;
    margin: 8rem auto auto;
    max-width: 37.5rem;
    overflow-y: scroll;
    width: 100%;
  }

  &__header {
    border-bottom: $light-border;
    padding: 1rem;
    position: relative;
    text-align: center;

    h2 {
      border: none;
      color: $base-font-color;
      font-size: 0.875rem;
      margin: 0 auto;
      padding: 0;
      text-transform: none;
    }
  }

  &__body {
    margin: 1.5625rem;
  }

  &__dismiss {
    fill: $gray-light;
    font-size: 1.5rem;
    left: 1rem;
    line-height: 1;
    position: absolute;
    top: 0.875rem;
    transition: fill $base-duration $base-timing;

    .icon {
      display: block;
      height: 1.625rem;
      width: 1.625rem;
    }

    &:active,
    &:hover {
      fill: $action-color;
      outline: none;
    }
  }
}
