.posts-list {
  list-style-type: none;
  padding: 0;

  p {
    margin-top: 0;
  }

  .post-image-preview {
    margin-bottom: 1.25rem;
  }

  .icon {
    fill: $gray;
    height: 1em;
    width: 1em;

    &_twitter-badge {
      fill: $twitter-blue;
    }
  }
}

.post-preview {
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.25rem;

  &__footer {
    margin-top: 1.5rem;
  }
}
