table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
}

tbody {
  tr {
    border-top: 1px solid lighten($light-gray, 10.5%);

  }
}

th {
  color: $light-gray;
  font-size: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  text-transform: uppercase;
}

td {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

tr:last-child {
  & td {
    padding-bottom: 0;
  }
}
