@import "../../../css/modules/_colors.scss";
@import "../../../css/modules/_variables.scss";

.post {
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.25rem;
}

.footer {
  color: $gray-light;
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  margin-top: 1.5rem;

  time {
    color: $gray;
  }
}

.list {
  list-style-type: none;
  padding: 0;
}

.actions {
  a {
    font-weight: 600;
  }
}

.postChannels {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.channelBadge {
  position: relative;
}

.providerImg {
  border-radius: 50%;
  display: block;
  height: 1.875rem;
  width: 1.875rem;
}
