@import "../../../css/modules/_colors.scss";
@import "../../../css/modules/_variables.scss";

.post {
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.25rem;
}

.footer {
  color: $gray-light;
  font-size: 0.75rem;
  margin-top: 1.5rem;

  time {
    color: $gray;
  }
}

.list {
  list-style-type: none;
  padding: 0;
}
