<div class="modal__overlay">
  <div class="modal__container">
    <header class="modal__header">
        <%= link to: @cancel_url, class: "modal__dismiss" do %>
          &times;
        <% end %>
      <h2>Create a new collection</h2>
    </header>
    <div class="modal__body">
      <%= render "form.html", changeset: @changeset,
                              action: collection_path(@conn, :create),
                              cancel_url: @cancel_url %>
    </div>
  </div>
</div>
