<header class="heading">
  <h1 class="heading__body"><%= @post_collection.name %></h1>
  <%= link "Create new post", to: "#", class: "button button_small" %>
</header>

<section class="posts-collection">
  <header>
    <h2>Posts</h2>
  </header>

</section>
