@import "../pages/new-social-channel";
@import "keyframes/flash-messages";

h1 {
  color: $gray-dark;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

main {
  h2 {
    border-bottom: $light-border;
    color: $gray-light;
    font-size: 0.75rem;
    margin-top: 2.8125rem;
    padding-bottom: 0.75rem;
    text-transform: uppercase;
  }
}

.heading {
  align-items: flex-start;
  display: flex;
  margin-bottom: 2.8125rem;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  &__body {
    flex: 1;
  }

  &__figure {
    border-radius: $base-border-radius;
    float: left;
    height: 3.125rem;
    margin-right: 1rem;
    margin-top: 0.375rem;
    width: 3.125rem;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .button {
    margin-top: 0.1875rem;
  }
}

.schedule-controls {
  .toggle-switch {
    margin-right: 1rem;
  }
}

.form {
  $label-line-height: 1.25rem;

  margin-bottom: 1.5625rem;
  margin-top: 1.5625rem;

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__control-group {
    border-bottom: $light-border;
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    .select {
      width: 100%;
    }
  }

  &__control-label {
    font-weight: bold;
    line-height: $label-line-height;
    min-width: 6.625rem;
    padding-bottom: $input-padding-bottom + (1 / 16);
    padding-top: $input-padding-top + (1 / 16);
    width: 6.625rem;
  }

  &__collection-wrapper {
    line-height: $label-line-height;

    label {
      align-items: center;
      cursor: pointer;
      display: flex;
      padding-bottom: $input-padding-bottom + (1 / 16);
      padding-top: $input-padding-top + (1 / 16);
    }
  }

  &__control {
    line-height: $label-line-height;

    &[type="checkbox"] {
      @include visually-hidden;

      // scss-lint:disable SelectorFormat
      &:checked ~ .form__indicator_checkbox {
        background-image: linear-gradient(to bottom right, $extra-gradient-colors);
        border: none;
        box-shadow: inset 0 1px 2px 0 $purple-darker;
        fill: $white;
      }

      &:focus ~ .form__indicator_checkbox {
        border-color: $action-color;
      }

      &:active ~ .form__indicator_checkbox {
        background-image: linear-gradient(
                            to bottom right,
                            transparentize($extra-gradient-start, 0.5) 5%,
                            transparentize($extra-gradient-end, 0.5)
                          );
        border: none;
        box-shadow: none;
      }
    }
  }

  &__indicator {
    border: $input-border;
    box-shadow: $base-box-shadow;
    display: block;
    height: 1.625rem;
    left: 0;
    margin-bottom: -0.1875rem;
    margin-right: 1rem;
    margin-top: -0.1875rem;
    width: 1.625rem;

    &_checkbox {
      border-radius: $base-border-radius;
      fill: transparent;
    }

    .icon {
      height: 100%;
      width: 100%;
    }
  }

  &_textarea {
    resize: none;
  }
}

.flash {
  &_container {
    bottom: 0;
    position: absolute;
    right: 1.25rem;
    animation: flash-insert 1s linear;
  }

  &_message {
    background-color: rgba($black, 0.8);
    border-radius: $base-border-radius;
    box-shadow: 0 1px 3px 0 rgba($black, 0.27);
    clear: right;
    color: $base-background-color;
    font-size: 0.875rem;
    font-weight: bold;
    float: right;
    margin-bottom: 1.25rem;
    padding: 0.5625rem 1.25rem 0.625rem 2.25rem;
    position: relative;

    &.removing {
      animation: flash-remove 0.25s ease-in-out;
    }

    &__error,
    &__info {
      &::before {
        border-radius: $base-border-radius;
        content: "";
        display: block;
        height: 0.5rem;
        left: 0.875rem;
        top: 1rem;
        width: 0.5rem;
        position: absolute;
      }
    }

    &__info {
      &::before {
        background: $success-color;
      }
    }

    &__error {
      &::before {
        background: $error-color;
      }
    }
  }
}
