@import "../keyframes/opacify";
@import "../keyframes/animate-elements";

main {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.site-header {
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
  width: 100%;
}

@media ($small-screen) {
  main {
    margin-left: 1.875rem;
    margin-right: 1.8875rem;
  }

  .site-header {
    padding: 1.875rem;
  }
}
