@import "modules/functions";
@import "modules/neue-haas-unica";
@import "modules/colors";
$base-font-color: lighten($gray-dark, 11%);
$input-padding-side: 0.6875rem;
@import "modules/variables";

@import "modules/tab-mixins";
@import "partials/base";
@import "themes/app";
@import "partials/sidebar";
@import "partials/filter-list";
@import "partials/posts-list";
@import "partials/toggle-switch";
@import "partials/tab-container";
@import "partials/tables";
@import "partials/modal";

body {
  display: flex;
}

main {
  font-size: 0.875rem;
  margin: 3.75rem;
  position: relative;
  width: 38.4375rem;
}

:any-link {
  text-decoration: none;
}

.select {
  $padding-right: 1.875rem;

  color: $base-font-color;
  display: inline-block;
  position: relative;

  select {
    box-shadow: $base-box-shadow;
    cursor: pointer;
    padding-right: $padding-right;
    width: 100%;

    // Undo the Firefox inner focus ring.
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $black;
    }

    &::-ms-expand {
      display: none;
    }
  }

  &::before {
    background-image: linear-gradient(to right,
                                      transparentize($white, 1),
                                      $white 90%);
    bottom: 1px;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    right: $padding-right;
    top: 1px;
    width: $padding-right / 1.2;
  }

  &::after {
    border: 0.35rem solid transparent;
    border-top-color: $gray-light;
    content: "";
    display: inline-block;
    margin-top: -0.15rem;
    pointer-events: none;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    width: 0;
  }

  // IE9 hack to hide the arrow
  @media screen and (min-width: 0\0) {
    select {
      z-index: 1;

      &:hover,
      &:focus,
      &:active {
        background-color: $base-background-color;
        color: $base-font-color;
      }
    }

    &::after {
      z-index: 5;
    }

    &::before {
      background-color: $base-background-color;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: 1rem;
      top: 0;
      width: 1.5rem;
      z-index: 2;
    }
  }
}
