@import "modules/variables";
$base-font-color: lighten($dark-gray, 11%);
@import "modules/tab-mixins";
@import "partials/base";
@import "themes/app";
@import "partials/side-nav";
@import "partials/filter-list";
@import "partials/posts-list";
@import "partials/toggle-switch";
@import "partials/tab-container";
@import "partials/tables";

body {
  display: flex;
}

main {
  font-size: 0.875rem;
  margin: 3.75rem;
  width: 38.4375rem;
}

:any-link {
  text-decoration: none;
}
