@import "modules/variables";
$base-font-color: lighten($dark-gray, 11%);
@import "partials/base";
@import "themes/app";
@import "partials/side-nav";
@import "partials/posts-list";

body {
  display: flex;
}

main {
  margin: 3.75rem;
  width: 38.4375rem;
  font-size: 0.875rem;
}
