:root {
  --darkGrey: #303030;
  --lightGrey: #f1f1f5;
  --mainColor: #9b2fae;
  --highlightColor: hwb(190, 35%, 20%);
  --easyColor: #8c8c92;
  --borderColor: #c8c8d0;
  --border: 1px solid var(--borderColor);
  --border-radius: 4px;
  --inputBorder: 1px solid #d8d8df;
  --fontWeightBold: 600;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--darkGrey);
  font: 16px/1.625 "Neue Haas Unica W01", Helvetica, sans-serif;
  margin: 0;
}

a:any-link {
  color: var(--mainColor);
}

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  font-weight: var(--fontWeightBold);
}

main {
  display: flex;
  margin: auto;
  max-width: 64rem;
}

.sub-text {
  color: var(--easyColor);
  font-size: 0.875rem;
}
