input,
button {
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 1rem;
  padding: 0.75em;
}

button {
  background-color: white;
  color: var(--mainColor);
  font-weight: 600;
  cursor: pointer;
}

input {
  border: var(--inputBorder);
}
