$base-font-color: #191919;
$base-font-family: "Tiempos Text", Georgia, serif;
$base-font-size: 15px;
$base-line-height: 1.6;
$action-color: #9041ad;

@import "modules/tiempos-text";
@import "modules/variables";
@import "partials/base";

main {
  background: $white;
  box-shadow: 0 5px 4px -4px transparentize($black, 0.68);
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 2;

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
  }
}

h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

li {
  margin-bottom: 1rem;
}

.header-quote {
  color: $gray-darkest;
  font-size: 1.6rem;
  line-height: 1.44;
  margin-bottom: 1em;
  text-align: center;

  &::after {
    border-bottom: 2px solid $gray-lighter;
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 2.6rem;
  }

  svg {
    display: block;
    margin: 1rem auto;
  }
}

.site-header {
  padding: 1.25rem;
  text-align: right;
}

.button-style__a {
  border: $base-border;
  border-radius: 2rem;
  box-shadow: 0 1px 4px 0 lighten($gray-lighter, 4%);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 2rem calc(0.5rem + 1px);
  text-decoration: none;
}

.site-footer {
  $extra-gradient-start: $midnight-blue;
  $extra-gradient-end: $deep-lilac;
  background-image: linear-gradient(to right, $extra-gradient-start 5%, $extra-gradient-end);
  bottom: 0;
  color: $white;
  height: 5rem;
  padding: 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  :any-link {
    color: $white;
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__copyright {
    flex: 1;
  }

  &__links {
    a {
      margin-left: 2.2rem;
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 68rem;
}

.speech-bubbles {
  @include clearfix;

  margin: 5rem auto;
  max-width: 18rem;

  &__p {
    border-radius: 0.8rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 0.94rem;
    margin: 0.5rem 0;
    padding: 0.5em 1em;
    position: relative;

    &::before {
      bottom: 0;
      content: " ";
      height: 20px;
      position: absolute;
      z-index: -1;
    }

    &::after {
      background: $white;
      bottom: 0;
      content: " ";
      height: 20px;
      position: absolute;
      width: 26px;
      z-index: 1;
    }
  }

  &__p_from-us {
    $bg-color: lighten($gray-lighter, 7%);
    background-color: $bg-color;
    float: right;

    &::before {
      border-bottom-left-radius: 16px 14px;
      border-right: 20px solid $bg-color;
      right: -7px;
    }

    &::after {
      border-bottom-left-radius: 10px;
      right: -26px;
    }
  }

  &__p_from-them {
    background-image: $extra-gradient;
    color: $white;
    float: left;

    &::before {
      border-bottom-right-radius: 16px 14px;
      border-left: 20px solid $extra-gradient-start;
      left: -7px;
    }

    &::after {
      border-bottom-right-radius: 10px;
      left: -26px;
    }
  }

  em {
    color: $action-color;
    font-style: normal;
    font-weight: bold;
  }
}

.fancy-list {
  padding-left: 1.6rem;

  &_star {
    list-style-image: url("/images/star.svg");
  }

  &_checkmark {
    list-style-image: url("/images/checkmark.svg");
  }
}

.beta-signup {
  position: relative;

  &_label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  [type=email] {
    border-color: $gray-lighter;
    border-radius: $base-spacing;
    font-size: 14px;
    padding: 0.75em 1.4rem;
  }

  &_button {
    border: $base-border;
    border-radius: $base-spacing;
    bottom: 0;
    box-shadow: 0 1px 4px 0 lighten($gray-lighter, 4%);
    font-size: 14px;
    font-weight: bold;
    padding: 0.75em 2rem;
    position: absolute;
    right: 0;
    text-decoration: none;
  }
}
