@import "modules/neue-haas-unica";
@import "modules/colors";
$border-color: $lavender;
$placeholder-color: $quartz;
$smaller-font-size: 0.875rem;
$smaller-element-padding: 0.8125rem 0.9375rem;
$input-padding: 0.75rem;
@import "modules/variables";
@import "partials/base";
@import "keyframes/opacify";
@import "keyframes/animate-elements";

.extra-logo {
  height: 2.875rem;
  width: 2.875rem;
}

main {
  margin-left: 1.875rem;
  margin-right: 1.8875rem;

  @media ($screen-sm-min) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.site-header {
  margin-left: auto;
  margin-right: auto;
  padding: 1.875rem;
  width: 100%;

  @media ($screen-sm-min) {
    padding: 2.5rem;
  }
}

.extra-authentication {
  margin-left: auto;
  margin-right: auto;
  max-width: 22rem;

  :any-link {
    color: $base-background-color;
    font-size: $smaller-font-size;
    line-height: normal;

    &:focus {
      outline-color: $base-background-color;
      outline-width: 2px;
    }
  }

  h1 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5625rem;
    margin-top: 10vh;
  }

  .help-block,
  p {
    font-size: $smaller-font-size;
  }

  .icon {
    left: 0.875rem;
    max-height: 1rem;
    max-width: 1rem;
    position: absolute;
    top: 0.8125rem;
  }

  form {
    margin: 0 0 1.625rem;
  }

  .button {
    border: none;
    box-shadow: 0 1px 1px $purple-darker;
    font-size: $smaller-font-size;
    line-height: normal;
    padding: $smaller-element-padding;
    transition: box-shadow $base-duration $base-timing;
    width: 100%;

    &:hover {
      box-shadow: 0 1px 1px $purple-darker,
                  0 0 0 2px transparentize($white, 0.75);
    }

    &:focus {
      box-shadow: 0 1px 1px $purple-darker,
                  0 0 0 4px transparentize($white, 0.75);
    }
  }

  .dirty {
    input {
      &:invalid {
        border-color: $amber;
      }
    }
  }

  .help-block {
    @include animate-insert;

    &.removing {
      @include animate-remove;
    }

    span {
      background: $white;
      box-shadow: 0 1px 2px $purple-darker;
      color: $base-font-color;
      display: block;
      margin-top: 0.625rem;
      padding: $small-spacing $input-padding;
      position: relative;

      &::after {
        border-color: transparent transparent $white;
        border-style: solid;
        border-width: 0 0.375rem 0.375rem;
        bottom: 100%;
        content: " ";
        display: block;
        left: 0.625rem;
        position: absolute;
      }
    }
  }

  .alert {
    background: $white;
    box-shadow: 0 1px 2px $purple-darker;
    color: $base-font-color;
    margin: 0 0 0.625rem;
    padding: $small-spacing $input-padding;
  }

  .links {
    display: flex;
    font-size: $smaller-font-size;
    justify-content: flex-end;
    margin: 1.625rem 0;
  }

  .registration-link {
    flex: 1;

    &:last-child {
      text-align: right;
    }
  }
}

.form {
  &__control-group {
    margin-bottom: 0.625rem;
    position: relative;
  }

  &__control-label {
    @include visually-hidden;
  }

  &__control {
    background: transparent;
    border: $base-border;
    color: $base-background-color;
    font-size: 1rem;
    line-height: normal;
    padding: 0.625rem 1rem 0.6875rem;
    transition: border-color $base-duration $base-timing;

    &:hover,
    &:focus {
      border-color: $base-background-color;
    }

    &:hover {
      &::placeholder {
        color: transparentize($base-background-color, 0.2);
      }
    }

    &::placeholder {
      color: $placeholder-color;
      font-size: $smaller-font-size;
      line-height: 1.5rem;
    }
  }
}

.public-page {
  $extra-gradient-start: $midnight-blue;
  $extra-gradient-end: $deep-lilac;

  background-image: linear-gradient(to bottom right, $extra-gradient-start 5%, $extra-gradient-end);
  color: $base-background-color;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  width: 100%;
  z-index: 100;

  // Gradient animation
  &::before {
    @include opacify;
    background-image: linear-gradient(to bottom right, $extra-gradient-end, $extra-gradient-start 95%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
  }
}
