@import "app.css";

.sneak-text {
  margin-top: 12rem;
  width: 31.25rem;

  & .sub-text {
    width: 20rem;
  }

  & form {
    display: flex;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
  }

  & input {
    flex: 1;
    margin-right: 0.625rem;
  }

  & h1 {
    margin: 0;
  }
}

body {
  background: no-repeat 50vw 8.125rem/1023px 968px url("/images/extra-sneak-peak@2x.png");
}

@media (width <= 1150px) {
  body {
    background-position: 35.875rem 8.125rem;

  }
}
