@keyframes animate-insert {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 5.5rem;
    opacity: 1;
  }
}

@mixin animate-insert {
  animation-duration: $base-duration;
  animation-name: animate-insert;
  animation-timing-function: $base-timing;
}

@keyframes animate-remove {
  from {
    max-height: 5.5rem;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}

@mixin animate-remove {
  animation-duration: $base-duration;
  animation-name: animate-remove;
  animation-timing-function: $base-timing;
  max-height: 0;
  opacity: 0;
}
