.sidebar {
  $action-color: $white;
  $sidebar-padding: 1.875rem;

  font-size: 0.875rem;
  min-height: 100vh;
  padding-top: $sidebar-padding;
  padding-bottom: $sidebar-padding;
  width: 18.125rem;

  .sidebar-link,
  :any-link {
    color: rgba($action-color, 0.8);
    display: block;
    fill: rgba($action-color, 0.8);
    line-height: 1.75rem;
    overflow: hidden;
    padding-left: $sidebar-padding;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: left;
    transition: background-color $base-duration $base-timing;
    width: 100%;
    white-space: nowrap;

    &.active {
      color: $action-color;
      fill: $action-color;
      font-weight: bold;
    }

    &:focus,
    &:hover {
      background-color: rgba($white, 0.10);
      box-shadow: inset 0 1px rgba($white, 0.05);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .icon {
    height: 0.75rem;
    margin-bottom: -0.0625rem;
    margin-right: 0.625rem;
    width: 0.75rem;
  }

  .extra-logo {
    height: 2.75rem;
    width: 2.75rem;
    margin-left: $sidebar-padding;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-right: $sidebar-padding;
  }

  section {
    margin-top: 1.875rem;
  }

  h3 {
    color: transparentize($white, 0.65);
    font-size: 0.625rem;
    font-weight: normal;
    letter-spacing: 0.83px;
    margin: 0 0 0 $sidebar-padding;
    text-transform: uppercase;
  }

  .gradient-container {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .gradient {
    background-color: $action-color;
    background-image: linear-gradient(140deg, $extra-gradient-colors);
    box-shadow: inset -2px 0 0 transparentize($purple-dark, 0.49);
    content: "";
    display: block;
    height: 1522px;
    position: absolute;
    width: 18.125rem;
    z-index: -1;
  }
}
