<section class="sneak-text">
  <h1>Automate your social media marketing in one hour per month.</h1>
  <p class="lead">
    Extra automates social media marketing by reposting evergreen content on a
    smart schedule created by engagement analytics.
  </p>

  <form>
    <input type="email" placeholder="email address">
    <button>Keep in touch</button>
  </form>

  <p class="sub-text"g>
    Join our beta list for product updates and early access. We’ll only send
    emails about once a month.<br>
    Extra is being built by <a href="https://twitter.com/matthewpearse">Matthew
    </a> 👻 and <a href="https://twitter.com/liamsarsfield">Liam</a> 🐤.
  </p>
</section>
