<section>
  <h1>Automate your social media marketing in one hour per month.</h1>
  <p class="lead">
    Extra automates social media marketing by reposting evergreen content on a
    smart schedule created by engagement analytics.
  </p>

  <form>
    <input type="email" placeholder="email address">
    <button>Keep in touch</button>
  </form>

  <p>
    Join our beta list for product updates and early access. We’ll only send
    emails about once a month. Extra is being built by Matthew 👻 and Liam 🐤.
  </p>
</section>
<figure>
  <img src="<%= static_path(@conn, "/images/extra-sneak-peak.png") %>" srcset="<%= static_path(@conn, "/images/extra-sneak-peak@2x.png") %> 2x">
</figure>
