// Color names from http://www.color-blindness.com/color-name-hue/

$gray-darkest: #1f1f1f;
$gray-dark: #3d3d40;
$gray: #8c8c92;
$gray-light: #c8c8d0;
$gray-lighter: #d8d8df;
$gray-lightest: #f1f1f5;

$purple-light: rgb(200, 109, 215);
$extra-purple: #9b2fae;
$purple-dark: rgb(48, 35, 174);
$purple-darker: rgb(111, 31, 125);
$white: #fff;
$black: #000;
$amber: #ffb400;

$quartz: #d8caef;
$lavender: #8a75b0;
$deep-lilac: #a85bb4;
$midnight-blue: #1b135d;

// Social Branding Colors
$facebook-blue: #4b66b6;
$twitter-blue: #4990e2;
$pinterest-red: #d0011b;

// TODO - DELETE THESE!
$light-gray: $gray-light;
$lighter-gray: $gray-lighter;
$lightest-gray: $gray-lightest;
