$dark-gray: #303030;
$gray: #8c8c92;
$gray-light: #c8c8d0;
$gray-lighter: #d8d8df;
$gray-lightest: #f1f1f5;

$purple-light: rgb(200, 109, 215);
$extra-purple: #9b2fae;
$purple-dark: rgb(48, 35, 174);
$purple-darker: rgb(111, 31, 125);
$white: #fff;

// TODO - DELETE THESE!
$light-gray: $gray-light;
$lighter-gray: $gray-lighter;
$lightest-gray: $gray-lightest;
