@font-face {
  font-family: "Neue Haas Unica W01";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/NeueHaasUnicaW01-Regular.woff2") format("woff2"),
       url("/fonts/NeueHaasUnicaW01-Regular.woff") format("woff");
}

@font-face {
  font-family: "Neue Haas Unica W01";
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/NeueHaasUnicaW01-Italic.woff2") format("woff2"),
       url("/fonts/NeueHaasUnicaW01-Italic.woff") format("woff");
}

@font-face {
  font-family: "Neue Haas Unica W01";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/NeueHaasUnicaW01-Bold.woff2") format("woff2"),
       url("/fonts/NeueHaasUnicaW01-Bold.woff") format("woff");
}

@font-face {
  font-family: "Neue Haas Unica W01";
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/NeueHaasUnicaW01-BoldItalic.woff2") format("woff2"),
       url("/fonts/NeueHaasUnicaW01-BoldItalic.woff") format("woff");
}
