@import "./colors";
// Breakpoints

// Typography
$base-font-family: "Neue Haas Unica W01", -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
$base-font-color: $dark-gray;
$action-color: $extra-purple;

// Font Sizes
$base-font-size: 16px;

// Line Height
$base-line-height: 1.625;
$heading-line-height: 2.3rem;

// Other Sizes
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / ($base-spacing / 0.75em);
$base-z-index: 0;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 4px;
$base-box-shadow: 0 1px 2px $lightest-gray;

$secondary-border: 1px solid $lighter-gray;
$input-border: $secondary-border;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);
$extra-gradient-start: $purple-dark;
$extra-gradient-end: $purple-light;
$extra-gradient-colors: $extra-gradient-start 5%, $extra-gradient-end;
$extra-gradient: linear-gradient(to right, $extra-gradient-colors);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Breakpoints
$small-screen: "max-width: 25rem";
$medium-screen: "max-width: 56.25rem";
$large-screen: "max-width: 71.875rem";
